.auth-form {
  display: flex;
  .card {
    margin: 0px auto;
  }
  .alert {
    top: 10px;
    left: 10px;
    height: fit-content;
    animation: goInFromLeft 0.2s;
  }
  @keyframes goInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
